{% extends 'application/base.twig' %}
{% block title %}Tableau de bord{% endblock %}

{% block content %}
  <div class="menu">
    <div class="logo">
      <img src="{{ ogImage('/images/logo.png','webp') }}" alt="Logo">
      <h1>Slave Control</h1>
    </div>
    {% if is_granted('ROLE_ADMIN') and app.session.get('type_account') == "admin" %}
      <label>Administration</label>
      <ul class="mt-2">
        <li class="item">
          <a href="{{ path('app_dashboard') }}">
            <i class="fas fa-home"></i>
            <span>Accueil</span>
          </a>
        </li>

      </ul>
    {% endif %}
  </div>
  <div class="content">
  </div>
{% endblock %}
