{% extends 'app/base.twig' %}

{% block title %}Conditions générale de vente{% endblock %}
{% block description %}Conditions générale de vente{% endblock %}

{% block content %}
  <h2 class="rgpdh2">Conditions Générales d'Utilisation (CGU)</h2>
  <div class="rgpd-content">
    <span>Dernière mise à jour : <strong>01/02/2025</strong></span>

    <h3>1. Objet</h3>
    <p>
      Les présentes Conditions Générales d'Utilisation (ci-après « CGU ») régissent l’accès et l’utilisation des services proposés par [Nom de l'entreprise/site] (ci-après « le Service ») sur site web]accessible à l’adresse <strong>shoko-cosplay.fr</strong>.
      En utilisant le Service, l’utilisateur (ci-après « l'Utilisateur ») accepte sans réserve les présentes CGU.
    </p>
    <h3>2. Définitions</h3>
    <p>
      - Service : Désigne l’ensemble des fonctionnalités, contenus et outils mis à disposition sur site.<br/>

      - Utilisateur : Toute personne physique ou morale accédant au Service.<br/>

      - Contenu : Toutes données, textes, images, vidéos ou autres éléments publiés via le Service.
    </p>
    <h3>3. Accès au Service</h3>
    <p>
      -  Le Service est accessible gratuitement ou sous condition d’abonnement payant

      - <strong>Shoko Cosplay</strong> se réserve le droit de modifier, suspendre ou interrompre le Service sans préavis
    </p>
    <h3>4. Engagements de l'Utilisateur</h3>
    <p>
      L’Utilisateur s’engage à :<br/>

       - Utiliser le Service conformément à la législation en vigueur.<br/>

       - Ne pas diffuser de contenu illicite, diffamatoire ou portant atteinte aux droits d’autrui.<br/>

       - Ne pas perturber le fonctionnement technique du Service (ex. : virus, spam).<br/>

       - Fournir des informations exactes lors de la création de son compte.
    </p>
    <h3>5. Propriété intellectuelle</h3>
    <p>
      - Le Service et ses éléments (logos, textes, design, etc.) sont la propriété exclusive de <strong>Shoko Cosplay</strong> ou de ses partenaires.<br/>

      - Toute reproduction ou exploitation non autorisée est interdite.<br/>

      - Les contenus publiés par l’Utilisateur restent sa propriété, mais il accorde à [Nom de l'entreprise] une licence non exclusive pour leur diffusion via le Service.
    </p>
    <h3>6. Responsabilités</h3>
    <p>
      - <strong>[Nom de l'entreprise]</strong> décline toute responsabilité en cas de dommages indirects liés à l’utilisation du Service.

      - L’Utilisateur est seul responsable des contenus qu’il publie.

      - <strong>Shoko Cosplay</strong> ne garantit pas la disponibilité permanente du Service.
    </p>
    <h3>7. Données personnelles</h3>
    <p>
      Les données collectées sont traitées conformément à notre Politique de Confidentialité, accessible <a href="{{ absolute_url(path('app_legal_rgpd')) }}"> {{absolute_url(path('app_legal_rgpd')) }}</a> .
    </p>
    <h3>8. Modifications des CGU</h3>
    <p>
      <strong>Shoko Cosplay</strong> peut modifier les CGU à tout moment. Les utilisateurs seront informés par  <strong class="display-address">Voir l'adresse email</strong>.
    </p>
    <h3>9. Promotion et collaboration entre utilisateurs</h3>
    <h4 class="legal-space">9.1 - Principe de promotion communautaire</h4>
    <p class="legal-space2">
      Le Service encourage les écosystèmes collaboratifs entre cosplayers. À ce titre, les Utilisateurs peuvent, dans le respect des présentes CGU, promouvoir des créations ou profils d'autres cosplayers à condition :<br/>
      &nbsp;&nbsp;a) D'avoir obtenu l'accord exprès et préalable du cosplayer concerné<br/>
      &nbsp;&nbsp;b) De mentionner de manière claire et lisible la source originale des contenus partagés<br/>
      &nbsp;&nbsp;c) De ne pas altérer les créations originales sans autorisation<br/>
    </p>
    <h4 class="legal-space">9.2 - Interdiction de l'exploitation commerciale non autorisée</h4>
    <p class="legal-space2">
      Toute promotion à visée commerciale (sponsoring, affiliation, publicité dissimulée) nécessite un accord écrit préalable avec <strong>Shoko Cosplay</strong> et le cosplayer concerné.
    </p>
    <h4 class="legal-space">9.3 - Responsabilité des utilisateurs</h4>
    <p class="legal-space2">
      Les Utilisateurs s'engagent à :<br/>
      &nbsp;&nbsp;a) Vérifier l'exactitude des informations promotionnelles partagées<br/>
      &nbsp;&nbsp;b) Respecter le droit à l'image et les droits d'auteur des tiers<br/>
      &nbsp;&nbsp;c) Ne pas utiliser le Service à des fins de spam ou de promotion massive non ciblée<br/>
    </p>
    <h4 class="legal-space">9.4 - Clause de non-garantie</h4>
    <p class="legal-space2">
      <strong>Shoko Cosplay</strong> décline toute responsabilité concernant :<br/>
      &nbsp;&nbsp;Les accords privés entre Utilisateurs<br/>
      &nbsp;&nbsp;La véracité des informations promotionnelles partagées<br/>
      &nbsp;&nbsp;Les contenus externes redirigés via le Service

    </p>
    <h3>10. Résiliation</h3>
    <p>
      <strong>Shoko Cosplay</strong> se réserve le droit de résilier l’accès au Service en cas de violation des CGU par l’Utilisateur.
    </p>
    <h3>11. Droit applicable et litiges</h3>
    <p>
      Les CGU sont régies par le droit Français. Tout litige sera soumis aux tribunaux compétents de Saint-Quentin.
    </p>
    <h3>12. Contact</h3>
    <p>
      Pour toute question : <strong class="display-address">Voir l'adresse email</strong>.
    </p>
  </div>
{% endblock %}
